<h1>乾燥肌にオススメの化粧品</h1>

<body id="white">
  <div>
    <div class="dry_skin_product-image">
      <table>
        <tr>
          <td>ノブ Ⅲ フェイスローション ＥＸ（白濁とろみタイプ）</td>
        </tr>
        <tr>
          <td><img class="dry_skin3-img" src="/dry_skin3.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://noevirgroup.jp/nov/g/g51523/?gclid=Cj0KCQiAh4j-BRCsARIsAGeV12BQ1wkIm_Ie_fFMvCxD0y_PKhFnrlVoz8W_2Q6Djr-R1gVqmNdVMPMaAiQUEALw_wcB", class: "block btn-primary" %></td>
        </tr>
      </table>
    </div>
    <div class="dry_skin_product-image">
      <table>
        <tr>
          <td>キュレル 化粧水 III (とてもしっとり)</td>
        </tr>
        <tr>
          <td><img class="dry_skin7-img" src="/dry_skin7.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.kao.com/jp/curel/crl_lotion_00.html?_ga=2.178979108.1229558557.1606614124-2146373367.1606352727&adobe_mc=MCMID%3D04257697540659107172339657590630472826%7CMCORGID%3D952B02BE532959B60A490D4C%2540AdobeOrg%7CTS%3D1606614373", class: "btn-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <div class="dry_skin_product-image">
      <table>
        <tr>
          <td>アスタリフト モイストローション</td>
        </tr>
        <tr>
          <td><img class="dry_skin5-img" src="/dry_skin4.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://ls-jp.fujifilm.com/astaliftbrand/products/moist-lotion/", class: "btn-primary" %></td>
        </tr>
      </table>
    </div>
    <div class="dry_skin_product-image">
      <table>
        <tr>
          <td>モイストバランス ローション</td>
        </tr>
        <tr>
          <td><img class="dry_skin6-img" src="/dry_skin2.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.acseine.co.jp/campaign/moistbalance/product/index.html", class: "btn-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
</body>



<style>
.dry_skin_product-image {
  padding: 20px;
  display: inline-block;
}
.td {
  color: Red;
}
</style>
