<h1>混合肌にオススメの化粧品</h1>

<body id="mixed_color">
  <div>
    <div class="mixed_skin_product-image">
      <table>
        <tr>
          <td>ソフィーナ ジェンヌ 混合肌のための高保湿ジェル乳液＜美白＞</td>
        </tr>
        <tr>
          <td><img class="mixed_skin7-img" src="/mixed_skin7.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.sofina.com/jp/jenne/jen_gel_01.html", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>

    <div class="mixed_skin_product-image">
      <table>
        <tr>
          <td>肌ラボ 極潤ヒアルロン液</td>
        </tr>
        <tr>
          <td><img class="mixed_skin3-img" src="/mixed_skin3.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://jp.rohto.com/hadalabo/gokujun-lotion/", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
</div>

  <div>
    <div class="mixed_skin_product-image">
      <table>
        <tr>
          <td>アクアフォースローション 180mL</td>
        </tr>
        <tr>
          <td><img class="mixed_skin5-img" src="/mixed_skin5.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.orbis.co.jp/small/1101060/?adid=skincareitem_lotion", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>

    <div class="mixed_skin_product-image">
      <table>
        <tr>
          <td>化粧水・敏感肌用・高保湿タイプ ２００ｍｌ</td>
        </tr>
        <tr>
          <td><img class="mixed_skin6-img" src="/mixed_skin6.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.muji.com/jp/ja/store/cmdty/detail/4548076444961", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </body>
</div>

<style>
  .mixed_skin_product-image {
    padding: 20px;
    display: inline-block;
  }
</style>