<h1>普通肌にオススメの化粧品</h1>

<body id="white2">
<div>
    <div class="normal_skin_product-image">
      <table>
        <tr>
          <td>薬用 雪肌精</td>
        </tr>
        <tr>
          <td><img class="normal_skin-img" src="/normal_skin.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.kose.co.jp/sekkisei/blue/products/sekkisei.html", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>

    <div class="normal_skin_product-image">
      <table>
        <tr>
          <td>モイスチャーライン</td>
        </tr>
        <tr>
          <td><img class="normal_skin_sample-img" src="/normal_skin_sample.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.lisblanc.jp/product/moisture/", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
</div>

<div>
    <div class="normal_skin_product-image">
      <table>
        <tr>
          <td>倭国の化粧水 普通肌用 100ml</td>
        </tr>
        <tr>
          <td><img class="normal_skin5-img" src="/normal_skin5.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.arte-cosmetics.com/SHOP/800425.html", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>

    <div class="normal_skin_product-image">
      <table>
        <tr>
          <td>エクストラクト ローション モイスト</td>
        </tr>
        <tr>
          <td><img class="normal_skin4-img" src="/normal_skin4.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.japanorganic.co.jp/c/doorganic/do_skincare/do_skinlotion/72251", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </body>
</div>

<style>
  .normal_skin_product-image {
    padding: 20px;
    display: inline-block;
  }
</style> 