<h1>脂性肌にオススメの化粧品はこちら</h1>

<body id="skin_care2">
  <div>
    <div class="oily_skin_product-image">
      <table>
        <tr>
          <td>アクネケア 化粧液</td>
        </tr>
        <tr>
          <td><img class="oily_skin3-img" src="/oily_skin3.png" width="300" height="200"></td>
        </tr>
          <tr>
            <td><%= link_to "公式サイトで見る", "https://www.fancl.co.jp/beauty/item/3771b/", class: "btn btn-primary" %></td>
          </tr>
      </table>
    </div>

    <div class="oily_skin_product-image">
      <table>
        <tr>
          <td>オルビス　クリアローション</td>
        </tr>
        <tr>
          <td><img class="oily_skin-img" src="/oily_skin.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.orbis.co.jp/small/1101100/", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
</div>

  <div>
    <div class="oily_skin_product-image">
      <table>
        <tr>
          <td>美顔水</td>
        </tr>
        <tr>
          <td><img class="oily_skin4-img" src="/oily_skin4.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.meishoku.co.jp/catalogue/bigan/", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>

    <div class="oily_skin_product-image">
      <table>
        <tr>
          <td>キュレル 皮脂トラブルケア 化粧水 </td>
        </tr>
        <tr>
          <td><img class="oily_skin5-img" src="/oily_skin5.png" width="300" height="200"></td>
        </tr>
        <tr>
          <td><%= link_to "公式サイトで見る", "https://www.kao.com/jp/curel/crl_care_lotion_00.html", class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </body>
</div>

<style>
  .oily_skin_product-image {
    padding: 20px;
    display: inline-block;

  }
</style>
