label{
  display:inline;
  text-align:right;
  position:relative;
  padding-left:1em;
  line-height:2em;
  font-size:20px;
}

label input{
  text-align:left;
  position:absolute;
  top:0;
  bottom:0;
  left:6;
  margin:auto;
}

body{
  background:#eff
}


#checkbox {
  text-align: left;
}


input {
    text-align: right;
    float: left;
    margin: .4rem;
}

